<?xml version="1.0"?>
<config>
    <modules>
        <techtalk>
            <version>1.0.0</version>
        </techtalk>
    </modules>
    <global>
        <models>
            <techtalk>
                <class>Ainstainer_TechTalk_Model</class>
            </techtalk>
        </models>
    </global>
</config>