<?xml version="1.0"?>
<config>
    <modules>
        <techtalk>
            <version>1.0.0</version>
        </techtalk>
    </modules>
    <frontend>
        <routers>
            <contact>
                <use>standard</use>
                <args>
                    <module>Ainstainer_TechTalk</module>
                    <frontName>contact</frontName>
                </args>
            </contact>
            <contacts>
                <args>
                    <module before="Mage_Contacts">Ainstainer_TechTalk</module>
                </args>
            </contacts>
            <magetalk>
                <use>standard</use>
                <args>
                    <module>Ainstainer_TechTalk</module>
                    <frontName>magetalk</frontName>
                </args>
            </magetalk>
        </routers>
        <layout>
            <updates>
                <techtalk>
                    <file>magetalk.xml</file>
                </techtalk>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <techtalk>
                <class>Ainstainer_TechTalk_Block</class>
            </techtalk>
            <cms>
                <rewrite>
                    <block>Ainstainer_TechTalk_Block_Cms_Block</block>
                </rewrite>
            </cms>
        </blocks>
        <helpers>
            <techtalk>
                <class>Ainstainer_TechTalk_Helper</class>
            </techtalk>
        </helpers>
        <models>
            <techtalk>
                <class>Ainstainer_TechTalk_Model</class>
                <resourceModel>techtalk_resource</resourceModel>
            </techtalk>
            <techtalk_resource>
                <class>Ainstainer_TechTalk_Model_Resource</class>
                <entities>
                    <contact>
                        <table>ain_contact</table>
                    </contact>
                </entities>
            </techtalk_resource>
        </models>
        <resources>
            <talk_setup>
                <setup>
                    <module>Ainstainer_TechTalk</module>
                </setup>
            </talk_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ain_contacts before="Mage_Adminhtml">Ainstainer_TechTalk_Adminhtml</ain_contacts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>