<?xml version="1.0"?>
<config>
    <modules>
        <blog>
            <version>1.0.0</version>
        </blog>
    </modules>
    <frontend>
        <routers>
            <blog>
                <use>standard</use>
                <args>
                    <module>Ainstainer_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
        <layout>
            <updates>
                <blog>
                    <file>blog.xml</file>
                </blog>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <blog>
                <class>Ainstainer_Blog_Block</class>
            </blog>
        </blocks>
        <helpers>
            <blog>
                <class>Ainstainer_Blog_Helper</class>
            </blog>
        </helpers>
        <models>
            <blog>
                <class>Ainstainer_Blog_Model</class>
                <resourceModel>blog_resource</resourceModel>
            </blog>
            <blog_resource>
                <class>Ainstainer_Blog_Model_Resource</class>
                <entities>
                    <category>
                        <table>ain_category</table>
                    </category>
                    <blogpost>
                        <table>ain_blogpost</table>
                    </blogpost>
                    <relations>
                        <table>ain_relations</table>
                    </relations>
                </entities>
            </blog_resource>
        </models>
        <resources>
            <blog_setup>
                <setup>
                    <module>Ainstainer_Blog</module>
                </setup>
            </blog_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ain_category before="Mage_Adminhtml">Ainstainer_Blog_Adminhtml</ain_category>
                        <ain_blogpost before="Mage_Adminhtml">Ainstainer_Blog_Adminhtml</ain_blogpost>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>